<div fxLayout="row wrap" class="title-mg-bottom">
  <div fxFlex="20">
    <img class="logo-full" src="../../assets/image/mea-logo.png" alt="mea logo image">
  </div>
</div>

<div fxLayout="row wrap" class="bg-contain">
  <div fxFlex="30%" class="title-center">
    <img class="logo-full" src="../../assets/image/measy-logo.png" alt="measy logo image">
  </div>
  <div fxFlex="70%" class="title-center font-title">
    การคืนเงินประกันการใช้ไฟฟ้า
  </div>
</div>

<mat-horizontal-stepper [linear]="isLinear" #stepper>
  <mat-step>

    <ng-template matStepLabel>ข้อมูลผู้ใช้สิทธิ</ng-template>

    <div *ngIf="!formCheckSecond">
      <div fxLayout="row wrap">
        <div fxFlex="100" class="cus-title">
          ข้อมูลผู้ใช้สิทธิ
        </div>
      </div>

      <mat-form-field class="form-style">
        <mat-label>เลขที่ประจำตัวประชาชน( 13 หลัก )</mat-label>
        <input matInput maxlength="13" [(ngModel)]="cardId">
      </mat-form-field>

      <div class="accept-container">
        <mat-checkbox [(ngModel)]="acceptCheckCardId" (ngModelChange)="checkCardId()" [disabled]="!cardId">
        </mat-checkbox>
        <mat-label class="accept-text">ยินยอมให้ตรวจสอบข้อมูลของท่านจากกรมการปกครองกระทรวงมหาดไทย</mat-label>
        <mat-label class="btn-more-detail">ดูเพิ่มเติม</mat-label>
      </div>

      <div class="congrate-container" *ngIf="totalAmount">
        <div class="congrate-text">
          ยินดีด้วย...ท่านมีจำนวนคืนเงินประกันการใช้ไฟฟ้า
        </div>
        <div class="congrate-amount">
          {{totalAmount}} <span class="amount-text">บาท</span>
        </div>
      </div>

      <div class="btn-container" *ngIf="acceptCheckCardId === true">
        <button mat-raised-button color="warn" *ngIf="!checkNoCardId" matStepperNext>ยืนยันการรับเงิน</button>
        <button mat-raised-button color="warn" *ngIf="checkNoCardId" (click)="changeForm()">ตรวจสอบข้อมูล</button>
      </div>
    </div>

    <div *ngIf="formCheckSecond">
      <div fxLayout="row wrap">
        <div fxFlex="100" class="cus-title">
          ข้อมูลผู้ใช้สิทธิ
        </div>
      </div>

      <mat-form-field class="form-style">
        <mat-label>บัญชีแสดงสัญญา( 9 หลัก )</mat-label>
        <input matInput maxlength="9">
      </mat-form-field>
      <mat-form-field class="form-style">
        <mat-label>รหัสเครื่องวัด( 8 หลัก )</mat-label>
        <input matInput maxlength="8">
      </mat-form-field>

      <div fxLayout="row wrap">
        <div fxFlex="100" class="cus-title">
          เลือกฉบับที่ขอคืนตามสิทธิ
        </div>
      </div>

      <div fxLayout="row wrap" class="list-bill-contain" id="table" *ngFor="let item of [1,2]">
        <div fxFlex="6">
          <mat-checkbox></mat-checkbox>
        </div>
        <div fxFlex="28">
          5303000001
        </div>
        <div fxFlex="27">
          15/03/2553
        </div>
        <div fxFlex="30">
          นายหลักประกัน การใช้ไฟฟ้า
        </div>
        <div fxFlex="9">
          2,000
        </div>
      </div>

      <div class="btn-container">
        <button mat-raised-button color="warn" matStepperNext>ยืนยันข้อมูล</button>
      </div>
    </div>

  </mat-step>

  <mat-step>

    <ng-template matStepLabel>ช่องทางการรับเงินคืนเงินประกัน</ng-template>

    <div fxLayout="row wrap">
      <div fxFlex="100" class="cus-title">
        ช่องทางการรับเงินคืนเงินประกัน
      </div>
    </div>

    <div class="check-container">
      <div *ngFor="let item of waysData;let i = index">
        <mat-checkbox [(ngModel)]="item.checked" (click)="selectWay(i, item)">{{item.name}}</mat-checkbox>
      </div>

      <mat-form-field *ngIf="waySelected.name === 'โอนเงินเข้าบัญชี'">
        <mat-label>เลขที่บัญชีธนาคาร</mat-label>
        <input matInput>
      </mat-form-field>
    </div>

    <div fxLayout="row wrap">
      <div fxFlex="100" class="cus-title">
        ช่องทางการรับเงินคืนเงินประกัน
      </div>
    </div>

    <mat-form-field>
      <mat-label>เบอร์โทรศัพย์</mat-label>
      <input matInput>
    </mat-form-field>

    <mat-form-field>
      <mat-label>อีเมล</mat-label>
      <input matInput>
    </mat-form-field>

    <div class="btn-container">
      <button mat-raised-button color="warn" matStepperNext>ยืนยันการรับเงิน</button>
    </div>

  </mat-step>

  <mat-step>
    <ng-template matStepLabel>เสร็จสิ้น</ng-template>

    <div fxLayout="row wrap">
      <div fxFlex="30%"></div>
      <div fxFlex="40%">
        <img class="logo-full" src="../../assets/image/accept.png" alt="accept image">
      </div>
      <div fxFlex="30%"></div>
    </div>

    <div class="done-text-center">
      <div>
        ระบบได้ทำการ xxxxxx
      </div>
      <div>
        เลขที่อ้างอิง xxxxxxxxxxxxxxxxxxxxxxxx
      </div>
      <div>
        วันที่: 01/05/2020 เวลา 18:06 น.
      </div>
    </div>

    <div class="btn-container">
      <button mat-raised-button color="warn">ย้อนกลับ</button>
    </div>

  </mat-step>
</mat-horizontal-stepper>